In [2]:
import numpy as np
import tiledb
import pandas as pd
import time

In [3]:
tiledb_config = tiledb.Config()

In [4]:
tiledb_config["sm.num_reader_threads"]

'12'

In [5]:
tiledb_config["vfs.num_threads"]

'12'

In [6]:
tiledb_config["vfs.file.max_parallel_ops"]

'12'

## Reading

In [7]:
array_names = [
    'EUMETSAT', 'EUMETSAT_ONE_SHOT', 'EUMETSAT_ONE_SHOT_BWR_ZSTD', 
    'EUMETSAT_ONE_SHOT_LZ4', 'EUMETSAT_ONE_SHOT_ZSTD']

In [8]:
runtimes = pd.DataFrame(np.NaN, columns=['all', 'rectangle'], index=array_names)

In [10]:
for array_name in array_names:
    print(array_name)
    
    # Read entire array
    t0 = time.time()
    with tiledb.DenseArray(array_name, mode='r') as array:
        data = array[:]['HRV']
    t1 = time.time()
    runtimes['all'][array_name] = t1 - t0
    
    # Read just rectangle
    t2 = time.time()
    with tiledb.DenseArray(array_name, mode='r') as array:
        data = array[:, 128:256, 128:256]['HRV']
    t3 = time.time()
    runtimes['rectangle'][array_name] = t3 - t2
    
    print(runtimes.loc[array_name])
    print()

EUMETSAT
all          10.941377
rectangle     0.424964
Name: EUMETSAT, dtype: float64

EUMETSAT_ONE_SHOT
all          16.472468
rectangle     0.269059
Name: EUMETSAT_ONE_SHOT, dtype: float64

EUMETSAT_ONE_SHOT_BWR_ZSTD
all          15.873504
rectangle     0.279759
Name: EUMETSAT_ONE_SHOT_BWR_ZSTD, dtype: float64

EUMETSAT_ONE_SHOT_LZ4
all          16.090696
rectangle     0.249709
Name: EUMETSAT_ONE_SHOT_LZ4, dtype: float64

EUMETSAT_ONE_SHOT_ZSTD
all          15.873990
rectangle     0.289291
Name: EUMETSAT_ONE_SHOT_ZSTD, dtype: float64

In [11]:
runtimes

                                  all  rectangle
EUMETSAT                    10.941377   0.424964
EUMETSAT_ONE_SHOT           16.472468   0.269059
EUMETSAT_ONE_SHOT_BWR_ZSTD  15.873504   0.279759
EUMETSAT_ONE_SHOT_LZ4       16.090696   0.249709
EUMETSAT_ONE_SHOT_ZSTD      15.873990   0.289291

old:

```
EUMETSAT
all          11.038257
rectangle     0.506096
Name: EUMETSAT, dtype: float64

EUMETSAT_ONE_SHOT
all          16.700042
rectangle     0.284340
Name: EUMETSAT_ONE_SHOT, dtype: float64

EUMETSAT_ONE_SHOT_BWR_ZSTD
all          16.551893
rectangle     0.332177
Name: EUMETSAT_ONE_SHOT_BWR_ZSTD, dtype: float64

EUMETSAT_ONE_SHOT_LZ4
all          17.624213
rectangle     0.301604
Name: EUMETSAT_ONE_SHOT_LZ4, dtype: float64

EUMETSAT_ONE_SHOT_ZSTD
all          17.820761
rectangle     0.361720
Name: EUMETSAT_ONE_SHOT_ZSTD, dtype: float64
```