In [52]:
import os
from pathlib import Path
import xarray as xr
import time
import pandas as pd
import numpy as np

In [2]:
SATELLITE_DATA_PATH = Path('~/data/EUMETSAT/reprojected/just_UK/2019/06/03/').expanduser()

In [3]:
netcdf_filenames = SATELLITE_DATA_PATH.glob('*.nc')
netcdf_filenames = list(netcdf_filenames)
print(f'{len(netcdf_filenames)} netcdf files found.')

18 netcdf files found.

In [4]:
filename = netcdf_filenames[1]
filename

PosixPath('/Users/JackKelly/data/EUMETSAT/reprojected/just_UK/2019/06/03/2019-06-03T08.nc')

In [65]:
def load_all():
    for filename in netcdf_filenames:
        ds = xr.load_dataset(filename)

In [66]:
def load_rectange():
    for filename in netcdf_filenames:
        ds = xr.open_dataset(filename)['HRV']
        # Dimensions are time, x, y
        ds_rect = ds[:, 128:256, 128:256]
        ds_rect.load()

In [62]:
NUM_RUNS = 3
col_to_func = {'all': load_all, 'rectangle': load_rectange}
runtimes = pd.DataFrame(np.NaN, columns=col_to_func.keys(), index=range(NUM_RUNS))

In [67]:
for run_i in range(NUM_RUNS):
    print(run_i)
    for col, func in col_to_func.items():
        print(col)
        t0 = time.time()
        func()
        t1 = time.time()
        runtime = t1 - t0
        runtimes[col][run_i] = runtime

0
all
rectange
1
all
rectange
2
all
rectange

In [68]:
runtimes

        all  rectange
0  4.086652  0.525295
1  3.866280  0.537991
2  4.019508  0.520474